/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #399ae5 0%, #0d4e99 100%);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;

  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 4em;
    color: lightgray;
    display: block;
    transition: 0.3s;
  }

  a:hover {
    color: #f1f1f1;
  }

  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  p {
    color: lightgray;
    font-size: 3em;
  }

  hr {
    width: 55%;
    background-color: lightgray;
  }

  img {
    height: 300px;
    width: 300px;
  }
}

.openbtn {
  font-size: 4em;
  cursor: pointer;
  background-color: transparent;
  color: #3778c2;
  padding: 10px 15px;
  border: none;
}

#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

.log-in {
  *,
  a {
    font-size: 4.5vw;
  }

  .remember-me {
    height: 0.8em;
    width: 0.8em;
  }

  .responsive-width {
    font-size: 5vw;
  }

  img {
    margin-top: 40vh;
  }

  .credentials {
    display: block;
    width: 100%;
  }
}

.sign-up {
  .navbar {
    * {
      color: whitesmoke;
      font-size: 5vw;
    }
    input {
      background-color: transparent;
      border: none;
    }
  }

  .sign-up-credentials {
    * {
      font-size: 5vw;
      width: 100%;
    }
  }
}

.edit-user {
  .navbar {
    * {
      color: whitesmoke;
      font-size: 5vw;
    }
    input {
      background-color: transparent;
      border: none;
    }
  }

  .sign-up-credentials {
    * {
      font-size: 5vw;
      width: 100%;
    }
  }
}

.dreams-index{
  .navbar{
    h2, .fa-search {
      color: white;
      font-size: 3em;
    }
  }
}

.fa-bars {
  color: white;
  height: 50px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
