.dreams-index {
  .navbar {
    h2,
    .fa-search {
      color: white;
      font-size: 3em;
    }
  }

  .card {
    font-size: 2em;
  }

  a {
    font-size: 3em;
  }

  .go-to-dream,
  .go-to-dream:link,
  .go-to-dream:hover {
    font-size: 1em;
    color: inherit;
    text-decoration: inherit;
  }

  img {
    width: 100%;
  }
}

.dream-show {
  .navbar {
    h2,
    .fa-search,
    a {
      color: white;
      font-size: 3em;
    }
  }

  .dream-details {
    font-size: 3em;

    .progress-bar {
      p {
        font-size: 3em;
      }
    }

    .by-at {
      font-size: 0.8em;
    }
  }

  .donors {
    h1 {
      font-size: 4em;
    }

    .card {
      font-size: 3em;
    }
  }

  .responsive-width {
    font-size: 5vw;
  }

  img {
    width: 100%;
  }

  .rounded-avatar {
    img {
      border-radius: 50%;
      height: 100%;
    }
  }
}

.fa-bars {
  color: white;
  height: 50px;
}

.dream-new {
  .navbar {
    * {
      color: whitesmoke;
      font-size: 5vw;
    }

    input {
      background-color: transparent;
      border: none;
    }
  }

  .dream-new-details {
    * {
      font-size: 5vw;
      width: 100%;
    }
  }
}
